<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>{% block title %}欢迎光临{% endblock title %}</title>
</head>
<body>
    {% block nav %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                        <li class="active"><a class="navbar-brand" href="http://127.0.0.1:9999/home">主页</a></li>
                    {% for nav in list_nav %}
                        <li><a class="navbar-brand" href="{{ nav.get_absolute_url }}">{{ nav.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>