
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
	<title>爬虫机监控</title>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<style type="text/css">
		body{background: #ffffff;text-align:center;}
		div{width:778px;margin:0 auto;background: #d0ffb4;text-align:left;}
	</style>
</head>
<body white=100% high=100%">
<h1 align="center">爬虫机监控</h1>

<h2>
<a href=http://127.0.0.1/mysqljk> 爬虫监控 <br>
<a href=http://10.6.2.124> 124 配置文件列表 <br>
<a href=http://10.6.4.93/cacti/graph_view.php?action=tree&tree_id=1&leaf_id=17> 4.93 监控图 <br>
<a href=http://10.6.2.51:5555/>大库（hybase）</a> <br>
</h2>
<h3> 汽车采集爬虫机   <br>
<a href=http://10.6.2.125:6800/jobs> 125 <br>
<a href=http://10.6.2.126:6800/jobs> 126 <br>
<a href=http://10.6.2.127:6800/jobs> 127 <br>
<a href=http://10.6.2.128:6800/jobs> 128 <br>
<a href=http://10.6.2.129:6800/jobs> 129 <br>
<a href=http://10.6.2.130:6800/jobs> 130 <br>
<a href=http://10.6.2.131:6800/jobs> 131 <br>
<a href=http://10.6.2.132:6800/jobs> 132 <br>
<a href=http://10.6.2.134:6800/jobs> 134 <br>
<a href=http://10.6.2.135:6800/jobs> 135 <br>
<a href=http://10.6.2.136:6800/jobs> 136 </a><br>
舆情采集爬虫机     <br>
<a href=http://10.6.6.52:6800/jobs> 52 <br>
<a href=http://10.6.6.53:6800/jobs> 53 <br>
<a href=http://10.6.6.57:6800/jobs> 57 <br>
<a href=http://10.6.6.58:6800/jobs> 58 <br>
<a href=http://10.6.6.64:6800/jobs> 64 <br>
<a href=http://10.6.6.65:6800/jobs> 65 <br>
<a href=http://10.6.6.84:6800/jobs> 84 <br>
<a href=http://10.6.6.89:6800/jobs> 89 <br>
</a>
</h3>
</body>
</html>