<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<meta http-equiv="Content-Language" content="zh-CN" />
</head>
<title>
    爬虫监控系统
</title>

<frameset rows="50%,50%">
<frameset cols="50%,50%">
<frame  src="http://127.0.0.1/jk" frameborder="0">
<frame  src="http://127.0.0.1/lsdata" frameborder="0">
</frameset>
<frameset cols="50%,50%">
<frame  src="http://127.0.0.1/zl" frameborder="0">
</frameset>
</frameset>
</html>